# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# binaries
converge
*.dot
*.ps
*.png
*.dot
*-fuzz.zip

# release
build

# dbus vendors
vendor/github.com/coreos/go-systemd/.travis.yml
vendor/github.com/coreos/go-systemd/CONTRIBUTING.md
vendor/github.com/coreos/go-systemd/DCO
vendor/github.com/coreos/go-systemd/LICENSE
vendor/github.com/coreos/go-systemd/README.md
vendor/github.com/coreos/go-systemd/examples/activation/httpserver/README.md
vendor/github.com/coreos/go-systemd/examples/activation/httpserver/hello.service
vendor/github.com/coreos/go-systemd/examples/activation/httpserver/hello.socket
vendor/github.com/coreos/go-systemd/fixtures/
vendor/github.com/coreos/go-systemd/test
vendor/github.com/godbus/dbus/CONTRIBUTING.md
vendor/github.com/godbus/dbus/LICENSE
vendor/github.com/godbus/dbus/MAINTAINERS
vendor/github.com/godbus/dbus/README.markdown
vendor/github.com/godbus/dbus/_examples/
vendor/github.com/godbus/dbus/introspect/
vendor/github.com/godbus/dbus/prop/
