@charset "UTF-8";

/* PRIMARY */
@supports (-webkit-appearance:none) {
  body { background:#213035; }
}

.footer, .header { background:#213035; }

.drawer .toc a.current, .drawer .toc a:focus, .drawer .toc a:hover { color:#20ACDF; }

.drawer .anchor a { border-left:2px solid #20ACDF; }

.ios.standalone .article {
  background:-webkit-linear-gradient(top,#fff 50%,#213035 0);
  background:linear-gradient(180deg,#fff 50%,#213035 0);
}

.article a, .article code, .article h1, .article h2 { color:#213035; }

.article .headerlink { color:rgba(0,0,0,.26); }

.article table th { background:#20ACDF; }

.results .meta { background:#213035; }

@media only screen and (max-width:959px) {
  .project { background:#213035; }
}

/* ACCENT */
.article a:focus, .article a:hover { color:#20ACDF; }

.repo a { background:#20ACDF; }

/* LOGO */
.project .logo img {
    background: none;
    border-radius: 10px;
}

/* CODE */
pre {
    background: #213035;
}
pre code, .article pre > code {
    background: #213035;
    color: #FFF;
    font-weight: 700;
}
